:root {
    --fs-600: 1.5rem;
    --fs-500: 1rem;
    --fs-400: .8125rem;
}
h1 {
    margin: 0;
}
p {
    display: none;
}

body {
    font-size: var(--fs-400);
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
img{
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
    font-size: var(--fs-500);
}
p, .article--span{
    font-family: 'Karla', article--spans-serif;
}
/* ------------------------------------------------------- */

.article--flex{
    margin-top: 2em;
    display: flex;
    gap: 10px;
    justify-content: baseline;
    max-width: 700px;
    min-width: 300px;
}
.article--container{
    margin-inline: 2em;
}

.article--flow > * + * {
    margin-top: 1em;
}

/* ------------------------------------------------------- */

.article--content {
    flex: 1;
}

.article--tag{
    width: fit-content;
    padding: .3em 1em;
    background-color:  #D6D6D6;
    border-radius: 24px;
    border: none;
    font-family: 'Karla', sans-serif;
}

.article--span{
    margin-right: 3px;
    color: #9F9F9F;
}

/* ------------------------------------------------------- */
@media (min-width:33.125rem){
    p {
        display: block;
        font-size: 1rem;
    }
    span{
        font-size: 1rem;
    }
    img {
        width: 150px;
        height: 144px;
    }
}